 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Internet user since 1997, I started using GNU/Linux back in 2002.
I'm graduating from Catania University in computer science engineer, with more than 12 years (since 2003), on-the-job, practical experience.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        My education is based on a strong design-focused, broad-based curriculum that includes the fundamentals of electrical and computer programming engineering with a strong background in mathematics.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://it.linkedin.com/in/carlodenaro/" class="btn btn-lg btn-outline">
                        <i class="fa fa-download">Linkedin Profile</i>
                    </a>
                </div>
            </div>
        </div>
    </section>
